{% extends "layout.html" %}

{% block title %}
    Matrix Input
{% endblock%}

{% block main %}
    <form action="/addition" method="post">
        <div class="user-input">
            <div class="add-col" id="add-right"> 
                <div class="right-col">
                    <h3>Matrix Size</h3>
                </div>
                <div class="right-col">
                    <input class="form-control" type="number" placeholder="Row" id="row" name="row">
                </div>
                <div class="right-col">
                    <input class="form-control" type="number" placeholder="Column" id="col" name="col">
                </div>
                <div class="right-col"> 
                    <input class="btn btn-primary" type="submit" value="submit">
                </div>
            </div>
        </div>
    </form>

    <form action="/added" method="post">
        <div class="container">
            <div class="added-col">
                <table class="table table-bordered">
                    <tbody>
                        {% for i in range(0, row) %}
                            <tr>
                                {% for j in range(0, col)%}
                                    <td><input class="form-control" type="number" name="matrix1"></td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="added-col">
                <table class="table table-bordered">
                    <tbody>
                        {% for i in range(0, row) %}
                            <tr>
                                {% for j in range(0, col)%}
                                    <td><input class="form-control" type="number" name="matrix2"></td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="added-col">
                <table class="table table-bordered">
                    <tbody>
                        {% for i in range(0, row) %}
                            <tr>
                                {% for j in range(0, col)%}
                                    <td>-</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
            <div class="added-col" id="rightmost-col">
                <div>
                    Operation Type
                </div>
                <div>
                    <select class="form-control form-control-sm" id="operation-type" name="operation">
                        <option>+</option>
                        <option>-</option>
                    </select>
                </div>
                <div>
                    <input class="btn btn-primary" type="submit" value="submit" id="mybutton">
                </div>
            </div>
        </div>
    </form>
    <div class="err-container">
        <div class="center-col">
            <p>Error: Please fill in all the inputs</p>
        </div>
    </div>
{% endblock %}