{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div class="container">
        <div class="index-col">
            <h3 class="index-col-head">About this Project</h2>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ipsam consequuntur fugiat sit maiores nisi? Sequi iure sint iusto. Aut omnis aliquam ducimus vero, eos quam natus nisi tempore at?</P>
        </div>
        <div class="index-col">
            <h3 class="index-col-head">Technologies used</h2>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ipsam consequuntur fugiat sit maiores nisi? Sequi iure sint iusto. Aut omnis aliquam ducimus vero, eos quam natus nisi tempore at?</P>
        </div>
    </div>
{% endblock %}