{% extends "layout.html" %}

{% block title %}
    Multiplication
{% endblock %}

{% block main %}
<form action="/multiplication" method="post">
    <div class="user-input">
        <div class="add-col" id="add-right"> 
            <div class="right-col">
                <h3>Matrix One</h3>
            </div>
            <div class="right-col">
                <input class="form-control" type="number" placeholder="Row" id="row" name="row">
            </div>
            <div class="right-col">
                <input class="form-control" type="number" placeholder="Column" id="col" name="col">
            </div>
        </div>
        <div class="add-col" id="add-right"> 
            <div class="right-col">
                <h3>Matrix Two</h3>
            </div>
            <div class="right-col">
                <input class="form-control" type="number" placeholder="Row" id="row1" name="row1">
            </div>
            <div class="right-col">
                <input class="form-control" type="number" placeholder="Column" id="col1" name="col1">
            </div>
            <div class="right-col"> 
                <input class="btn btn-primary" type="submit" value="submit">
            </div>
        </div>
    </div>
</form>

<form action="/multiplied" method="post">
    <div class="container">
        <div class="added-col">
            <table class="table table-bordered">
                <tbody>
                    {% for i in range(0, row) %}
                        <tr>
                            {% for j in range(0, col)%}
                                <td>{{ matrix1[i][j] }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h2>X</h2>
        <div class="added-col">
            <table class="table table-bordered">
                <tbody>
                    {% for i in range(0, row1) %}
                        <tr>
                            {% for j in range(0, col1)%}
                                <td>{{ matrix2[i][j] }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h2>=</h2>
        <div class="added-col">
            <table class="table table-bordered">
                <tbody>
                    {% for i in range(0, row_length) %}
                        <tr>
                            {% for j in range(0, col_length)%}
                                <td>{{ result[i][j] }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</form>


{% endblock %}